@page "/"
@inject OrdersClient Client

<h1>Place your order</h1>

<EditForm Model="@order" OnValidSubmit="@SubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if (message != null)
    {
        <h4>Something went wrong...</h4>
        <p>@message</p>
    }
    <h2>
        The catalog items will be here.
    </h2>
    <p>
        Account Id: <InputText bind-Value="@(order.AccountId)" />
    </p>
    <button type="submit">Place Order!</button>
</EditForm>

@functions {
    OrderWebApp.Models.Order order = new OrderWebApp.Models.Order();
    string message;

    async Task SubmitAsync(EditContext context)
    {
        message = null;

        try
        {
            await Client.PlaceOrderAsync(order);
            order = new OrderWebApp.Models.Order();
        }
        catch (Exception ex)
        {
            message = ex.Message;
        }
    }
}